/* You can add global styles to this file, and also import other style files */
html, body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #b6b7b7;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }

.container {
    border-radius: 10px;
    width: 900px;
    height: 700px;
    background: white;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}